.todoAddContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  gap: 5px;
}
.task {
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 1.1rem;
  margin-right: 10px;
  outline: none;
  width: 60%;
}
.date {
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 1.1rem;
  margin-right: 10px;
  outline: none;
  width: 30%;
}
.addBtn {
  border: none;
  outline: none;
  text-align: center;
  padding: 9px 13px;
  font-size: 1.6rem;
  border-radius: 20px;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 10%;
  min-width: 40px;
}
