@import url("https://fonts.googleapis.com/css2?family=Arbutus&display=swap");

.heading {
  font-family: "Arbutus", serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin: 0px 0 20px 0;
}
